@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway/static/Raleway-Regular.ttf);
}

body {
  font-family: Raleway;
	margin: 0;
	border: 0;
	padding: 0;
	height: calc(100vh);
	width: calc(100vw);
	overflow: auto;
	background-color: black;
	/* background-color: #99ffcc; */
	align-content: center;
}

#navbar {
	width: 100%;
	margin: 0;
	padding: 20px;
	background-color: white;
	top: 0;
	left: 0;
	> h1 {
		display: inline-block;
	}
	nav {
		display: inline-block;
		> a {
			display: inline-block;
		}
	}
}

section {
	margin: 0;
	border: 0;
	padding: 40px;
	color: white;
}

#main_section {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto;
	h1 {
		font-size: 50px;
	}
	a {
		color: white;
	}
}

#bio {
	font-size: 3em;
	width: 100%;
	padding-left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bio > div {
	margin-bottom: 0.5em;
}

#name {
	color: #45ec98;
	font-weight: bolder;
}

#contacts {
	/* padding-top: 3em; */
	> * {
		display: block;
		margin-top: 1em;
	}
	display: flex;
	flex-direction: column;
	padding-left: 3em;
	justify-content: center;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 8px 2px #595959; 
	box-shadow: 4px 4px 8px 2px #595959;
	margin: 1em;
	max-width: 400px;
}

.workplace-logo {
	display: block;
}

.icon-link {
  display: inline-block;
	align-content: center;
	> img {
		padding: 5px;
		background-color: #45ec98;
		border-radius: 50%;
	};
  transition: 0.3s;
}

.icon-link > img:hover {
	-webkit-box-shadow: 4px 4px 8px 2px #595959; 
	box-shadow: 4px 4px 8px 2px #595959;
	/* border-radius: 50%; */

}

.hi {
	background-color: #45ec9877;
	text-decoration: underline #45ec98;
}